/*--------------------------
RESET
---------------------------*/
html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, 
b, u, i, center, 
dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary, 
time, mark, audio, video{margin:0; padding:0}
article, aside, details, figcaption, figure, footer, 
header, hgroup, menu, nav, section{display:block}

table{border-collapse:collapse; border-spacing:0}
fieldset, img{border:0}
address, caption, cite, dfn, th, var{font-style:normal; font-weight:normal}
caption, th{text-align:left}
h1, h2, h3, h4, h5, h6{font-size:100%; font-weight:normal; color:#444;}
q:before, q:after{content:''}
abbr, acronym{border:0}

/*--------------------------
GLOBAL
---------------------------*/
html { overflow-y:scroll;  }
body { background:#fdfdfd; font-family:Arial, Helvetica, sans-serif;}

.clearfix:after{ content:"";  display:block;  clear:both;  visibility:hidden;  line-height:0;  height:0}
.clearfix{ display:inline-block }
html[xmlns] .clearfix{ display:block}
* html .clearfix{ height:1%}
.fl{ float:left; }
.fr{ float:right; }
.icon_left{ float:left; margin-right:10px;}

a img {border: 0;}
a, a:link{ color: #04474b; text-decoration:none; }
a:hover{ color: #04474b; text-decoration:none; }
::selection {background: rgb(32,172,226); color:#fafafa;}
::-moz-selection {background: rgb(32,172,226); color:#fafafa;}
img::selection {background: transparent;}
img::-moz-selection	{background: transparent;}


h1, h2, h3, h4, h5, h6{ margin:0px 0 15px 0; color:#333333; font-family: 'Open Sans', sans-serif;}
h1{ font-size:26px; line-height:30px; }
h2{ font-size:24px; line-height:28px; }
h3{ font-size:18px; line-height:22px;}
h4{ font-size:16px; }
h5{ font-size:12px; }
h6{ font-size:10px; }

p, ul, ol{ margin-bottom:20px; }
ul, ol{ margin-left:20px; }

figure, img {max-width:100%; height:auto; margin-bottom:20px;}
img.left {margin:0 20px 0 0; float:left; }
img.right {margin:0 0 0 20px; float:right;}
img.center {  display: block; margin-left: auto; margin-right: auto; }
object, embed, video{max-width:100%; height:auto}


.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; margin-bottom:23px; }

.video-container iframe,  
.video-container object,  
.video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.aligncenter{ text-align:center; }
.alignleft{ text-align:left; }
.alignright{ text-align:right; }
/*--------------------------
LAYOUT
---------------------------*/
header{ width:100%; float:left; background:url(../images/header-bg.jpg) repeat-x top #fff; padding:42px 0 25px 0; border-bottom:1px solid #f2f2f2; margin-bottom:40px;
box-shadow: 0 1px 2px rgba(246, 246, 246, 1); -webkit-box-shadow: 0 1px 2px rgba(246, 246, 246, 1); -moz-box-shadow: 0 1px 2px rgba(246, 246, 246, 1); -webkit-transition: all 0.9s ease; -moz-transition: all 0.9s ease; -o-transition: all 0.9s ease }
#page_wrap, #footer-wrap, #header_wrap, #copy-wrap, #top-wrap{ max-width:960px; margin:0 auto; clear:both;}
footer{ width:100%; float:left; background:url(../images/footer-bg.jpg) repeat-x #ededed;}

#copyright{ width:100%; float:left;}

#featured{ float:left; clear:both; width:100%; position:relative;}
#page_container{ width:100%; float:left;}
#container{ width:65%; float:left; }
aside{ width:28%; float:right; margin-bottom:40px;}

/*--------------------------
COLUMN
---------------------------*/
.whole{ width:100%; float:left; margin-bottom:40px;}
.one-half{ width:48.2%; float:left; margin-left:3.5%; margin-bottom:40px;}
.one-third{  width:30.5%; float:left; margin-left:3.5%; margin-bottom:40px;}
.one-fourth{ width:22%; float:left; margin-left:3.5%; margin-bottom:40px;}
.three-fourth{ width:73.7%; float:left; margin-left:3.5%; margin-bottom:40px;}
.one-fifth{ width:17%; float:left; margin-left:3.5%; margin-bottom:40px; }


/*--------------------------
CONTENT
---------------------------*/
#page_container p, #footer-wrap p{ color:#777; line-height:22px; font-family:Arial, Helvetica, sans-serif; font-size:12px;}

h1.logo{ width:116px; height:28px; float:left;  text-indent:-999999px;}
h1.logo a{ width:116px; height:28px; display:block; background:url(../images/logo.png) no-repeat;}

nav select { display: inline-block;  display: none; }
nav{ float:right; width:80%; padding:0; margin:0;}
.ddsmoothmenu { float:right; }
.ddsmoothmenu ul { list-style-type: none; margin: 0; padding: 0; z-index:100; float:right; }
.ddsmoothmenu ul li { font-size:13px; float: left; list-style: none; margin: 0; padding: 0; position: relative;  font-family: 'Open Sans', sans-serif; font-weight:300;}
.ddsmoothmenu ul li a { font-weight:bold; color: #777; display: block; padding:4px 20px 4px 20px; text-decoration: none; border-left:1px solid #f2f2f2;}
.ddsmoothmenu ul li a.no-border-left{ border-left:0;}

.ddsmoothmenu ul li a:hover{ color: #04474b;}
.ddsmoothmenu ul li a.current { color: #04474b;}
* html .ddsmoothmenu ul li a { display: inline-block; }
.ddsmoothmenu ul li ul { margin-top:0px; display: none; float:left; left: 0; position: absolute; visibility: hidden; padding:10px 0; background:#ffffff;  z-index:500; border:1px solid #f2f2f2; 
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-topleft: 0px;}
	
.ddsmoothmenu ul li ul li { display: list-item; float: none; font-weight:normal; margin-left:0px; padding:0; border-top:1px solid #f2f2f2; }
.ddsmoothmenu ul li ul li.no-border-top{ border-top:0;}
.ddsmoothmenu ul li ul li a { color:#999; font-weight:normal; font-size:12px; margin: 0; padding:9px 15px; width: 165px; background:0; border-left:0;  border-top-width: 0; text-transform:none;}
.ddsmoothmenu ul li ul li a:hover { color:#aaa; background:#f8f8f8; margin:-2px 0 0 0; padding-right:18px; border-top:1px solid #f5f5f5;}
* html .ddsmoothmenu { height: 1%;}

.downarrowclass {  position: absolute; right: 7px; top: 14px; display:none;  }
.rightarrowclass { position: absolute; right: 5px; top: 13px; display:none; }

.ddshadow { height: 0; margin-top: 100px; position: absolute; top: 0; width: 0; }
.toplevelshadow { opacity: 0.8; }

h2.intro-title{ font-size:17px; font-family: 'Open Sans', sans-serif; font-weight:300 !important; text-transform:uppercase; width:100%; text-align:center; margin-bottom:30px;}

.intro{ width:100%; float:left;}
.intro .one-third{ border-left:1px solid #f2f2f2; margin-left:0; padding-left:2%; padding-right:2%}
.intro .one-third div.sec{ width:52px; float:left; padding-bottom:60px; margin-right:15px; margin-top:5px; }
.intro .one-third span{ font-size:10px; color:#777777; text-align:center; display:block; margin-top:10px;}
.intro .one-third div.sec img{ float:left; margin-bottom:15px; padding-bottom:10px; float:left;}
.intro .one-third h3{ font-size:14px;}
.intro .first{ padding-left:0; border-left:0;}
.intro .last{ padding-right:0;}

.page-title{ border-top:1px solid #f2f2f2; float:left; width:100%; padding:0 0 10px 0; margin:0; }
.page-title h3{font-family: 'Open Sans', sans-serif; font-size:12px; text-transform:uppercase; float:left; padding:0; margin-top:7px; }

.serv{ float:left; margin-bottom:20px;}
.serv img{ float:left; margin:-4px 10px 0 0; }
.serv h3{ font-size:14px;}

.item{ margin-left:0; float:left; }
.item img {  opacity:0; }

.breadcrumbs{ text-shadow:1px 1px 1px #fff; float:left; width:100%; margin-bottom:40px; padding-bottom:40px; background:url(../images/breadcrumbs_border.gif) repeat-x ; border-bottom:1px solid #eee;}
.breadcrumbs h2{ font-family: 'Open Sans', sans-serif; font-weight:600;  font-size:24px; padding-bottom:0px; margin-bottom:0;}
.breadcrumbs .second{ width:50%; float:left; }
.breadcrumbs .second span{ font-size:11px; color:#aaa; }
.breadcrumbs .second span a{ text-decoration:none; color: #04474b; font-style:normal;}
.breadcrumbs .second span a:hover{ font-style:normal;}

#searchForm fieldset { width:240px; position:relative; float:right; top:10px; }
div.input { width:120px; padding:5px 15px 7px 15px; border:1px solid #eee; border-top:1px solid #eee; float:right; background:#fff; color:#aaa;
-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;}
div.input.focus { border:1px solid #eee; }
input#s { width:100%; border:0; border-radius:20px; background:transparent; height:16px; color:#aaa; text-shadow:0 1px 1px #fff; }
input#s:focus { outline:none; }
input#searchSubmit { width:19px; height:19px; text-indent:-9999px; overflow:hidden; background: url(../images/search-icon.png) no-repeat; border:0; position:absolute; top:7px; right:13px; z-index:5; display:none; cursor:pointer;}

.about{ float:left; margin-bottom:10px;}
.about h4{ font-size:14px;}
.about h4 span{ font-size:12px; color:#aaa;}
.about .one-fourth img{ -webkit-border-radius: 4px; -moz-border-radius: 4px;-o-border-radius: 4px; border-radius: 4px;}

article{ width:100%; float:left; margin-bottom:70px;}
article .categ{ width:22%; float:left;}
article .categ .meta{ border:1px solid #f0f0f0; margin-bottom:20px; background:#f6f6f6; display:block; width:100%; padding:10px 0; -webkit-border-radius: 4px; -moz-border-radius: 4px;-o-border-radius: 4px; border-radius: 4px;}
article .categ .meta strong{ float:left; font-size:40px; margin:0 10px 0 25px; color:#777; margin-top:-5px}
article .categ .meta small{ font-size:11px; color:#777;}

article .categ ul{ margin:0; width:100%; float:left; text-align:right;}
article .categ ul li{ font-size:12px; line-height:22px; color:#777; list-style:none;}
article .categ ul li a{ color:#aaa;}
article .categ ul li a:hover{ color: #04474b;}

article .postblog{ float:right; width:73.5%;}
article .postblog a img{ -webkit-border-radius: 4px; -moz-border-radius: 4px;-o-border-radius: 4px; border-radius: 4px;}
article .postblog h3{ font-size:22px; font-weight:bold;}
article .postblog h3 a{ color:#333;}
article .postblog h3 a:hover{ color: #04474b;}
article .postblog p{ border-bottom:1px solid #eee; padding-bottom:20px;}
article .postblog span{ font-size:12px;}
article .postblog span.right-bot{ float:right;}

.about-the-author{ width:100%; float: left; margin-bottom:40px;}
.about-the-author img{ float:left; margin-right:20px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px;}

ul#post_comment{float:left;width:100%; margin:0 0 5px 0; }
ul#post_comment li{ list-style:none; width:100%; float:left; margin-bottom:30px; padding-bottom:20px; }
ul#post_comment li.page_title{ margin-bottom:0;}
ul#post_comment li h3{ padding-bottom:14px; margin-bottom:0; padding-bottom:0;}
ul#post_comment li img{ padding:4px; float:right; margin:0 0 0 10px; border:1px solid #f0f0f0; }
ul#post_comment li div{ text-align:right; float:right; width:82%; padding:15px; background:#f6f6f6; border:1px solid #f0f0f0; -webkit-border-bottom-right-radius: 2px; -webkit-border-bottom-left-radius: 2px; -moz-border-radius-bottomright: 2px; -moz-border-radius-bottomleft: 2px;	-webkit-border-top-right-radius: 2px; -webkit-border-top-left-radius: 2px; -moz-border-radius-topright: 2px; -moz-border-radius-topleft: 2px;}	
ul#post_comment li span{ font-size:11px; margin-bottom:10px;}
ul#post_comment li span strong{ font-size:12px; font-weight:bold; color:#333;}
ul#post_comment li small{ color:#999; margin-bottom:10px; font-size:11px;}
ul#post_comment li div span a{ float:right; font-size:12px; padding:8px 12px; color:#fff; border:1px solid #f8b705; background:#04474b; text-shadow:0 1px 1px #f8b705;  -webkit-border-radius: 2px; -moz-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
ul#post_comment li div p{ padding-top:11px;}

ul#post_comment li.reply{ width:89%; float:left; }
ul#post_comment li.reply div{ float:left; width:80%;}

.comment{ float:left; width:100%;  clear:both;}
.comment h3{ padding-bottom:15px; }
#commentform .input{ background:#fff; border:1px solid #e4e4e4; color:#9a9a9a; margin-bottom:20px; padding:10px; width:45%; margin-right:10px;
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	-webkit-border-top-right-radius: 2px;
	-webkit-border-top-left-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-topleft: 2px;
	
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #f6f6f6),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#f6f6f6 1px,
			#FFFFFF 25px
			);}
#commentform .textarea{ background:#fff; border:1px solid #e4e4e4; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#9a9a9a; height:180px; padding:10px; width:95%; margin-bottom:20px;
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	-webkit-border-top-right-radius: 2px;
	-webkit-border-top-left-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-topleft: 2px;
	
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #f6f6f6),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#f6f6f6 1px,
			#FFFFFF 25px
			);}
#commentform label{ font-size:14px; color:#6a6a6a; }
#commentform #name:focus,#commentform #subject:focus, #commentform #email:focus, #commentform #website:focus,#commentform #message:focus { border:1px solid #dedede; background:#f7f7f7}
#commentform .button{ width:100px; border: 1px solid #f3b304;
	background-color: #04474b;
	padding:8px 15px;
	position:relative;
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	text-decoration:none;
	text-shadow:0px 1px 1px #f3b304;
	color:#fff;
	background-image: linear-gradient(bottom, rgb(248,183,5) 0%, rgb(255,192,0) 100%);
	background-image: -o-linear-gradient(bottom, rgb(248,183,5) 0%, rgb(255,192,0) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(248,183,5) 0%, rgb(255,192,0) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(248,183,5) 0%, rgb(255,192,0) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(248,183,5) 0%, rgb(255,192,0) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(248,183,5)),
	color-stop(1, rgb(255,192,0))
	);
	-webkit-box-shadow: inset 0px 1px 0px #fff0c7;
	-moz-box-shadow: inset 0px 1px 0px #fff0c7;
	box-shadow: inset 0px 1px 0px #fff0c7;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;}
#commentform .button:hover{ cursor:pointer; background:#04474b;}

/*CONTACT AREA CSS*/
#map_canvas{ width:100%; height:12em; margin:0 2% 40px 0; }

.contactForm{ width:100%; float:left;}
.contactForm input, .contactForm textarea{ -webkit-border-radius: 4px; -moz-border-radius:4px; o-border-radius:4px; border-radius: 4px;  border:none; color:#9a9a9a; background:#fff; font-family:Arial, Helvetica, sans-serif; font-size:13px; border:1px solid #d5d5d6;}
.contactForm textarea{ width:96.5%; }
.contactForm p{ margin-bottom:0px;}
.contactForm input, .contactForm textarea{ margin-bottom:20px; padding:10px;}
.contactForm input:focus, .contactForm textarea:focus, .contactForm input:hover, .contactForm textarea:hover{background:#f6f6f6;}
.contactForm .submit{ border: 1px solid #f3b304;
	background-color:#04474b;
	padding:8px 15px;
	position:relative;
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	text-decoration:none;
	text-shadow:0px 1px 1px #f3b304;
	color:#fff;
	background-image: linear-gradient(bottom, rgb(248,183,5) 0%, rgb(255,192,0) 100%);
	background-image: -o-linear-gradient(bottom, rgb(248,183,5) 0%, rgb(255,192,0) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(248,183,5) 0%, rgb(255,192,0) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(248,183,5) 0%, rgb(255,192,0) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(248,183,5) 0%, rgb(255,192,0) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(248,183,5)),
	color-stop(1, rgb(255,192,0))
	);
	-webkit-box-shadow: inset 0px 1px 0px #fff0c7;
	-moz-box-shadow: inset 0px 1px 0px #fff0c7;
	box-shadow: inset 0px 1px 0px #fff0c7;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;}
.contactForm input{ width:173px; margin-bottom:20px;}
.contactForm .submit:hover, .contactForm .submit:focus{ cursor:pointer; background:#04474b !important;}
ul.error{ background:#f0807f; border:1px solid #e96f6e; padding:20px 0; -moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px;}
ul.error li{ line-height:22px; font-size:12px; padding:0 20px; color:#333 !important; font-weight:bold;}
#note ul{ margin:0; margin-bottom:1.5em; }
#note ul li{ list-style:none; color:#b41616; background:url(../images/process-stop.png) no-repeat left center; padding-left:25px; margin-left:25px;}
.notification_ok{ background:  background:url(../images/process-accept.png) no-repeat left center; padding-left:25px;}

.addthis_toolbox{ float:left; margin:0 0 60px 0; width:100%; padding:0;}
.addthis_toolbox li{ float:left; list-style:none; margin:0; padding:0; max-width:100% !important;}

#works-container{ width:100%; float:left; margin-bottom:40px;}

#filters{ padding:0; margin:0 0 20px -10px;}
#filters li{ list-style:none; display:inline; padding:0 10px 0 0; color:#5a5a5a; font-family: 'Open Sans', sans-serif; font-weight:400;  font-size:12px; text-transform:uppercase; }
#filters li a{ padding:0 0 0 10px; text-decoration:none; color:#5a5a5a; }
#filters li a.selected{ color:#04474b; text-decoration:none;}
#works-container{ margin-left:-6px; width:106%; float:left; margin-bottom:30px; }
#works-container .element { margin:12px; float: left; overflow: hidden; position: relative; width:222px; height:171px;}
#works-container .element img{ -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px;}

/*for sidebar only*/
#works-container .element-item{ margin:7px; float: left; overflow: hidden; position: relative; width:150px; height:120px; border:1px solid #d9d9da; padding:4px; }

/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/

.isotope-item { z-index: 2; }

.isotope-hidden.isotope-item { pointer-events: none; z-index: 1; }

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item { -webkit-transition-duration: 0.8s; -moz-transition-duration: 0.8s; -o-transition-duration: 0.8s; transition-duration: 0.8s; }

.isotope { -webkit-transition-property: height, width; -moz-transition-property: height, width; -o-transition-property: height, width;
transition-property: height, width; }

.isotope .isotope-item { -webkit-transition-property: -webkit-transform, opacity; -moz-transition-property:    -moz-transform, opacity;
-o-transition-property: top, left, opacity; transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition { -webkit-transition-duration: 0s; -moz-transition-duration: 0s; -o-transition-duration: 0s;transition-duration: 0s; }

.isotope.infinite-scrolling { -webkit-transition: none; -moz-transition: none; -o-transition: none; transition: none; }

#container #works-container .element{ width:180px; height:137px;}

#filterable{width:100%; float:left; margin-bottom:20px; margin-left:10px; }
#filterable ul li{ float:left; margin-bottom:5px;}
#filterable ul li a{ font-size:12px; padding:7px 10px; float:left; color:#fff; border:1px solid #c14a3d; background:#04474b; text-shadow:0 1px 1px #c14a3d;  -webkit-border-radius: 4px; -moz-border-radius: 47px; -o-border-radius: 4px; border-radius: 4px;}

.portfolio{ margin-left:3.5%;}
.portfolio h3{ font-size:14px; font-weight:bold; line-height:18px;}
.portfolio h3 a{ color:#333;}
.portfolio h3 span{ color:#999; font-size:11px; font-weight:normal;}
.portfolio h3 span a{ color:#999}
.portfolio img{ -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px;}

.portfolio3 h3{float:left;} 

.portfolio-detail h3{ margin-top:20px; float:left; font-size:16px;} 
.portfolio-detail .thumb{ margin:0; width:100%; float:left; margin:20px 0 30px 0;}
.portfolio-detail .thumb li{ float:left; list-style:none; margin-left:2%; margin-bottom:10px;}
.portfolio-detail .thumb li a img{ width:93px;}
.portfolio-detail p{ width:100%; float:left;}

.portfolio-detail .source{ width:100%; float:left; margin-bottom:30px;}

@font-face { font-family: 'WebSymbolsRegular'; src: url('websymbols/websymbols-regular-webfont.eot'); src: url('websymbols/websymbols-regular-webfont.eot@#iefix') format('embedded-opentype'), url('websymbols/websymbols-regular-webfont.woff') format('woff'), url('websymbols/websymbols-regular-webfont.ttf') format('truetype'), url('websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg'); font-weight: normal; font-style: normal;}
.a-btn{ border-radius: 50px; padding: 10px 30px 10px 70px; position: relative; float:left; display: block; overflow: hidden; margin: 10px; background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 74%,rgba(237,237,237,1) 100%); box-shadow: 0px 0px 7px rgba(0,0,0,0.2), 0px 0px 0px 1px rgba(188,188,188,0.1); transition: box-shadow 0.3s ease-in-out; }
.a-btn-symbol{ font-family: 'WebSymbolsRegular', cursive; color: #555; font-size: 20px; text-shadow: 1px 1px 2px rgba(255,255,255,0.5); position:absolute; left: 20px; line-height: 32px; transition: opacity 0.3s ease-in-out; background:url(../images/download.png) no-repeat; text-indent:-999999px; width:24px; height:24px; }
.a-btn-symbol2{ font-family: 'WebSymbolsRegular', cursive; color: #555; font-size: 20px; text-shadow: 1px 1px 2px rgba(255,255,255,0.5); position:absolute; left: 20px; line-height: 32px; transition: opacity 0.3s ease-in-out; background:url(../images/livepreview.png) no-repeat; text-indent:-999999px; width:28px ; height:23px; }
.a-btn-text{ font-size: 20px; color: #d7565b; line-height: 16px; font-weight: bold; font-family: "Myriad Pro", "Trebuchet MS", sans-serif; text-shadow: 1px 1px 2px rgba(255,255,255,0.5); display: block; }
.a-btn-slide-text{ font-family: Arial, sans-serif; font-size: 10px; letter-spacing: 1px; text-transform: uppercase; color: #555; text-shadow: 0px 1px 1px rgba(255,255,255,0.9); }
.a-btn-slide-icon{ position:absolute; top:-30px; width: 22px; height: 22px; background: transparent url(../images/arrow_down_black.png) no-repeat top left; left:20px; opacity: 0.4;}
/*hover*/
.a-btn:hover{background: #fff;  box-shadow: 0px 0px 9px rgba(0,0,0,0.4), 0px 0px 0px 1px rgba(188,188,188,0.1);}
.a-btn:hover .a-btn-symbol{ opacity: .9; }
.a-btn:hover .a-btn-symbol2{ opacity: .9; }
.a-btn:hover .a-btn-slide-icon{ -webkit-animation: slideDown 0.9s linear infinite;}
/*pressing*/
.a-btn:active{ background: #d7565b; box-shadow: 0px 2px 2px rgba(0,0,0,0.6) inset, 0px 0px 0px 1px rgba(188,188,188,0.1);}
.a-btn:active .a-btn-text{ color: #fff; text-shadow: 0px 1px 1px rgba(0,0,0,0.3); }
.a-btn:active .a-btn-slide-text{ color: rgba(0,0,0,0.4); text-shadow: none; }
/*moving arrow*/
@keyframes slideDown { 0% { top: -30px; } 100% { top: 80px;}}

.testimonial{ width:100%; float:left;}

.testimonial .testimony-user{  width:20%; float:left; text-align:center;}
.testimonial .testimony-user img{ margin-bottom:0; border:1px solid #f0f0f0; padding:4px;}
.testimonial .testimony-user h4{ font-size:12px; margin-bottom:2px; color:#777;}
.testimonial .testimony-user span{ font-size:11px;}
.testimonial .testimonial-msg{ width:75%; float:right; background:#f4f4f4; border-bottom:2px solid #f0f0f0; border-left:4px solid #f0f0f0; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px;}
.testimonial .testimonial-msg-2{ background:#fff; border-bottom:0;}
.testimonial .testimonial-msg blockquote{ text-shadow:1px 1px 1px #fff; font-size:12px; font-style:italic; color:#999; font-family:Georgia, "Times New Roman", Times, serif; line-height:24px; padding:15px 20px;}


.ac-container{
	width: 100%;
	float:left;
	margin-bottom:60px;
}
.ac-container div{ float:left; margin-bottom:0; padding:0;}
.ac-container label{
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	padding: 5px 20px;
	position: relative;
	z-index: 20;
	display: block;
	height: 30px;
	cursor: pointer;
	color: #777;
	line-height: 33px;
	font-size: 16px;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
		0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label strong{ color:red;}
.ac-container label:hover{ background: #fff;}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{ background: #04474b; color: #fff;}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{ content: ''; position: absolute; width: 24px; height: 24px; right: 13px; top: 7px; background: transparent url(../images/arrow_down.png) no-repeat center center;	}
.ac-container input:checked + label:hover:after{ background-image: url(../images/arrow_up.png); }
.ac-container input{ display: none; }
.ac-container article{ background: rgba(255, 255, 255, 0.5); margin-top: -1px; overflow: hidden; height: 0px; position: relative; z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	margin-bottom:0;}
.ac-container article p{
	color: #777;
	padding: 20px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	margin-bottom:0;
	padding-bottom:0;
}
.ac-container article p strong{}
.ac-container input:checked ~ article{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.ac-container input:checked ~ article.ac-small{
	height: 140px;
}
.ac-container input:checked ~ article.ac-medium{
	height: 180px;
}
.ac-container input:checked ~ article.ac-large{
	height: 230px;
}
/*Button style*/
.button{ margin:0; width:100%; float:left; margin-bottom:40px;}
.button li{ list-style:none; float:left; margin-right:1.5%; margin-bottom:10px;}
.button li a{ float:left; color:#fff; border:1px solid #149dd1;  background:#23ade2; text-shadow:0 1px 1px #149dd1; padding:10px 15px; float:left;  -webkit-border-radius: 2px; -moz-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px}
.button li a.one{ color:#fff; border:1px solid #be4537;  background:#ce5042; text-shadow:0 1px 1px #be4537;}
.button li a.two{ color:#777; border:1px solid #eaefd1;  background:#fafee7; text-shadow:0 1px 1px #eaefd1;}
.button li a.three{ color:#fff; border:1px solid #6986a7;  background:#718fb1; text-shadow:0 1px 1px #6986a7;}
.button li a.four{ color:#fff; border:1px solid #04474b;  background:#044f54; text-shadow:0 1px 1px #04474b;}
.button li a.five{ color:#fff; border:1px solid #f36343;  background:#fd6847; text-shadow:0 1px 1px #f36343;}
.button li a.six{ color:#777; border:1px solid #e9e165;  background:#f5ed6e; text-shadow:0 1px 1px #e9e165;}
.button li a.seven{ color:#fff; border:1px solid #f37201;  background:#fe7701; text-shadow:0 1px 1px #f37201;}
.button li a.eight{ color:#fff; border:1px solid #81c276;  background:#8bce7f; text-shadow:0 1px 1px #81c276;}
.button li a.nine{ color:#fff; border:1px solid #f253a5;  background:#ff59af; text-shadow:0 1px 1px #f253a5;}
.button li a.ten{ color:#fff; border:1px solid #131a20;  background:#182128; text-shadow:0 1px 1px #131a20;}
.button li a.eleven{ color:#fff; border:1px solid #dbb671;  background:#e6c079; text-shadow:0 1px 1px #dbb671;}
.button li a.twelve{ color:#fff; border:1px solid #db9192;  background:#e59b9c; text-shadow:0 1px 1px #db9192;}
.button li a.thirten{ color:#fff; border:1px solid #503341;  background:#5b3b4a; text-shadow:0 1px 1px #503341;}
.button li a.fourten{ color:#fff; border:1px solid #734a45;  background:#80554f; text-shadow:0 1px 1px #734a45;}

.alertness{ width:100%; margin-bottom:20px; float:left;}
.alert{ padding:20px; width:95.5%; float:left; margin-bottom:20px; -moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px;}
.alert p{ padding:0; color:#444 !important; font-weight:bold; margin-bottom:0; padding-left:25px;}
.red_alert{ background:#f0807f; border:1px solid #e96f6e;}
.red_alert p{ background:url(../images/process-stop.png) no-repeat left;}
.green_alert{ background:#c5dc93; border:1px solid #adc37c;}
.green_alert p{ background:url(../images/process-accept.png) no-repeat left;}
.blue_alert{ background:#a8c8e7; border:1px solid #93b6d7;}
.blue_alert p{ background:url(../images/process-info.png) no-repeat left;}
.yellow_alert{ background:#f5d575; border:1px solid #e7c868;}
.yellow_alert p{ background:url(../images/process-yellow.png) no-repeat left;}


.list li{ line-height:28px; color:#777; font-size:12px;}
.list li a { color:#777;}
.list li a:hover { color:#04474b;}
.arrow, .star, arrow-green{ margin:0; float:left;}
.arrow li{ list-style:none; background:url(../images/arrow.png) no-repeat left; padding-left:20px;}
.star li{ list-style:none; background:url(../images/star.png) no-repeat left; padding-left:20px;}

.pagination{ float:left; width:100%; padding-bottom:40px; margin:0; }
.pagination li{ float:left; padding:8px 0; list-style:none; margin-right:4px; margin-bottom:10px; color:#5a5a5a; font-weight:bold; font-size:11px;
-webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px;
	}
.pagination li.page{ border:1px solid #d7d7d7; padding:8px 15px; margin-top:-2px;
	background: 
		-webkit-gradient(
			linear,
			left bottom,
			left 10,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			bottom,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 30px
			);}
.pagination li a{ border:1px solid #d7d7d7; padding:8px 15px; color:#5a5a5a; text-decoration:none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	background: 
		-webkit-gradient(
			linear,
			left bottom,
			left 10,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			bottom,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 30px
			);}
.pagination li a:hover{ background:#212121; border:1px solid #1a1a1a; color:#fff;}
.pagination li a.active{ background:#212121; border:1px solid #1a1a1a; color:#fff;}

aside h3{ font-size:14px; font-weight:600;}
aside .whole{ margin-bottom:0;}

#tabs { margin:0; clear:both;}
#tabs ul.filter-title { margin:0; width:100%; float: left; }
#tabs ul.filter-title li { list-style: none; margin-right:2px; font-size:12px; }
* html #tabs ul.filter-title li { display: inline; }
#tabs ul.filter-title li, #tabs ul.filter-title li a { float: left; list-style:none; background:#f6f6f6; color:#999; font-weight:bold;}
#tabs ul.filter-title li.active { background: #fff; color:#333 !important; -webkit-border-bottom-right-radius: 0px; -webkit-border-bottom-left-radius: 0px; -moz-border-radius-bottomright: 0px; -moz-border-radius-bottomleft: 0px;  -webkit-border-top-right-radius: 2px; -webkit-border-top-left-radius: 2px; -moz-border-radius-topright: 2px; -moz-border-radius-topleft: 2px; }
#tabs ul.filter-title li.active a { colors:#333; background:none; color:#555;}
#tabs ul.filter-title li a { text-decoration: none; padding: 10px 20px; border:1px solid #f0f0f0; border-bottom:0;}
#tabs div { background: #fff; margin-bottom:40px; float:left; border:1px solid #f0f0f0; border-top:0; padding: 20px; -webkit-border-bottom-right-radius: 0px; -webkit-border-bottom-left-radius: 0px; -moz-border-radius-bottomright: 0px; -moz-border-radius-bottomleft: 0px;  -webkit-border-top-right-radius: 2px; -webkit-border-top-left-radius: 2px; -moz-border-radius-topright: 2px; -moz-border-radius-topleft: 2px;  }
#tabs div ul.cat{ background:none; margin:0; float:left; margin-bottom:20px;}
#tabs div ul.cat li{ background:none; float:left; border-bottom:1px dotted #f0f0f0; width:100%; list-style:none; font-size:12px; line-height:34px;}
#tabs div ul.cat li a{ background:none; padding-left:0; border:0; color:#777;}
#tabs div ul.cat li a:hover{ color:#04474b !important;}

#tabs div ul.tag li{ border:0; width:inherit; padding:0; line-height: inherit; margin:0 5px 5px 0; }
#tabs div ul.tag li a{ padding:5px 7px; float:left; border:0; color:#fff; border:1px solid #c14a3d; padding:10px; float:left; background:#04474b; text-shadow:0 1px 1px #c14a3d;  -webkit-border-radius: 2px; -moz-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px;}
#tabs div ul.tag li a:hover{ color:#fff !important; opacity:.9;}

.post{ width:100%; float:left; margin:0 0 25px 0;}
.post li{ border-bottom:1px dotted #f2f2f2; margin-bottom:15px; list-style:none; padding-bottom:15px;}
.post li a{ float:left;  margin-right:15px;}
.post li p{ margin-bottom:0;}
.post li p a{ color:#333;}
.post li p a:hover{ color:#04474b;}
.post li p small{ font-size:10px; color:#aaa;}

.drop{ border:1px solid #eee; padding:20px; background:#f6f6f6;
-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;}

.dropcap{ display: block; width: 40px; height: 40px; float:left; font-size:25px; line-height:40px; text-align: center; margin:0px 15px 0px 0;	background:#04474b; color:#fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px; 
}
.dropcap2{ display:block; font-weight:bold; float:left; font-size:40px; color:#777; margin:0 5px 0 0;line-height:42px;}


#footer-wrap{ padding-top:40px; position:relative;}

#footer-wrap .one-fourth{ float:left;}
#footer-wrap .one-fourth h3{ font-size:14px;}

.subs{ border:1px solid #d4d4d4; width:98%; float:left; padding:5px 0; margin-bottom:0px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
-khtml-border-radius: 4px; border-radius: 4px;}
.subs input{ border:0; background:none; border-right:1px solid #d4d4d4;}
.subs input.emailadd{ padding:3px 10px; color:#777; width:76%;}
.subs input.submit{ text-indent:-999999px; width:20px; height:17px; background:url(../images/submit.png) no-repeat right; border-right:none;}
.subs input.submit:hover{ cursor:pointer;}

#footer-wrap .one-fourth ul.links{ margin:0;}
#footer-wrap .one-fourth ul.links li{ list-style:none; border-bottom:1px dotted #d4d4d4; font-size:12px; line-height:32px;}
#footer-wrap .one-fourth ul.links li a{ color:#777; display:block; background:url(../images/arrow.gif) no-repeat left; padding-left:20px;}
#footer-wrap .one-fourth ul.links li a:hover{ color:#04474b;}

#footer-wrap .one-fourth ul.flickr{ margin:0; float:left; width:100%;}
#footer-wrap .one-fourth ul.flickr li{ float:left; list-style:none; margin-left:5px;}
#footer-wrap .one-fourth ul.flickr li img{ margin-bottom:10px;}

#footer-wrap .one-fourth .quick-contact{ float:left;}

#footer-wrap .one-fourth .quick-contact input.emailadd,
#footer-wrap .one-fourth .quick-contact textarea{ width:90%; padding:10px; margin-bottom:10px; font-size:12px; line-height:22px; color:#777; background:#ededed; border:1px solid #d4d4d4; font-family:Arial, Helvetica, sans-serif; -moz-border-radius: 4px; -webkit-border-radius: 4px;
-khtml-border-radius: 4px; border-radius: 4px;}

#footer-wrap .one-fourth .quick-contact input.submit{ border: 1px solid #f3b304;
	background-color:#04474b;
	padding:8px 15px;
	position:relative;
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	text-decoration:none;
	text-shadow:0px 1px 1px #f3b304;
	color:#fff;
	background-image: linear-gradient(bottom, rgb(248,183,5) 0%, rgb(255,192,0) 100%);
	background-image: -o-linear-gradient(bottom, rgb(248,183,5) 0%, rgb(255,192,0) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(248,183,5) 0%, rgb(255,192,0) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(248,183,5) 0%, rgb(255,192,0) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(248,183,5) 0%, rgb(255,192,0) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(248,183,5)),
	color-stop(1, rgb(255,192,0))
	);
	-webkit-box-shadow: inset 0px 1px 0px #fff0c7;
	-moz-box-shadow: inset 0px 1px 0px #fff0c7;
	box-shadow: inset 0px 1px 0px #fff0c7;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;}

#footer-wrap .one-fourth .quick-contact input.submit:hover{ cursor:pointer; background:#04474b;}

#totop{ width:17px; height:19px; position:absolute; right:17px; top:-17px; text-indent:-999999px;}
#totop a{ width:17px; height:19px; background: url(../images/top.gif) no-repeat; display:block;}

#copyright{ border-top:1px solid #d4d4d4; padding:30px 0 10px 0;}
#copy-wrap p{ font-size:12px; color:#777;}

#top-area { background:#333; width:100%; color:777; position:fixed; padding:10px 0; display:none; top:0; z-index:999; border-bottom:2px solid #04474b;}
#gotop{ padding:5px 10px; background:#444; color:#777; cursor:pointer; font-size:10x; float:right; display:block; text-align:center; -webkit-border-radius: 15px; -moz-border-radius: 15px; -o-border-radius: 15px; border-radius: 15px;}
#gotop a{ color:#aaa;}

#top-wrap .social_media{ margin:0; width:90%; float:left;}
#top-wrap .social_media li{ margin:0; list-style:none; float:left; width:32px; height:32px; margin-left:1%;}
#top-wrap .social_media li a{ width:32px; height:32px; float:left;}

.first{ margin-left:0 !important;}

@media handheld and (max-width: 600px), screen and (max-device-width: 600px), screen and (max-width: 768px)  {
#page_wrap, #footer-wrap, #header_wrap, #copy-wrap, #top-wrap{ padding:0 40px;}	

#footer-wrap{ padding-top:40px;}

#top-area{ display:none; background:none; border:0;}
#top-wrap{ display:none;}

header{ padding-bottom:40px;}
h1.logo{ margin-bottom:30px;}
nav{ float:left; width:100%; padding:0; margin:0;}
.ddsmoothmenu { float:left; }
.ddsmoothmenu ul { float:left;}
.ddsmoothmenu ul li{}
.ddsmoothmenu ul li a.no-border-left{ padding-left:0;}

#container{ width:100%;}

.subs input.emailadd{ width:70%;}

aside{ width:100%;}

}

@media handheld and (max-width: 599px), screen and (max-device-width: 599px), screen and (max-width: 599px)  {
.one-half{ width:100%; float:left; margin-left:0;}
.one-third{  width:100%; float:left; margin-left:0;}
.one-fourth{ width:48%; float:left; margin-left:3.5%;}
.three-fourth{ width:100%; float:left; margin-left:0%;}
.one-fifth{ width:100%; float:left; margin-left:0;}
div.first{ margin-left:0;}
div.second{ margin-left:0; }
	
#page_wrap, #footer-wrap, #header_wrap, #copy-wrap{ padding:0 40px; }

nav ul{ display:none;}
nav select { display: inline-block;  display: inherit; width:100%; margin-bottom:10px; border:1px solid #d4d4d4; padding:7px 10px;}

nav ul{ display:none;}
nav select { display: inline-block;  display: inherit; width:100%; margin-bottom:10px; border:1px solid #d4d4d4; padding:7px 10px;}

.intro .one-third{ border-left:none; margin-left:0; padding:0;}

article .categ{ width:100%;}
article .postblog{ float:left; width:100%;}
article .categ .meta{ border:1px solid #f0f0f0; margin-bottom:20px; margin-right:10px; background:#f6f6f6; display:block; width:30%; float:left; padding:10px 0; -webkit-border-radius: 4px; -moz-border-radius: 4px;-o-border-radius: 4px; border-radius: 4px;}
article .categ ul{ margin:0; width:60%; float:left; text-align:right;}
article .categ ul li{ font-size:12px; line-height:22px; color:#777; list-style:none; float:left;}
article .categ ul li a{ color:#aaa;}
article .categ ul li a:hover{ color:#04474b;}

ul#post_comment li div{ width:95%;}
ul#post_comment li.reply div{ width:95%;}

.portfolio h3{ margin-left:3.5%;}

#footer-wrap{ padding-top:40px;}
}

@media handheld and (max-width: 479px), screen and (max-device-width: 479px), screen and (max-width: 479px)  {
.one-half{ width:100%; float:left; margin-left:0;}
.one-third{  width:100%; float:left; margin-left:0;}
.one-fourth{ width:100%; float:left; margin-left:0;}
.three-fourth{ width:100%; float:left; margin-left:0%;}
.one-fifth{ width:100%; float:left; margin-left:0;}
div.first{ margin-left:0;}			
	
#page_wrap, #footer-wrap, #header_wrap, #copy-wrap{ padding:0 40px; }
article .postblog a img{ max-width:80%;}

.portfolio h3{ margin-left:0;}

.alert{ width:90%;}

#footer-wrap{ padding-top:40px;}

.subs{ width:80%;}
}


