
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>朋友圈</title>
<link href="css/style.css" type="text/css" rel="stylesheet" media="screen" /> 
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div id="page_wrap">
    	<div class="breadcrumbs">
        	<div class="second">
            	<h2>朋友的动态</h2>
			</div>
            <form id="searchForm">
                <fieldset>
                    <div class="input">
                        <input type="text" name="s" id="s" value="Enter your search" />
                    </div>
                    <input type="submit" id="searchSubmit" value="" />
                </fieldset>
            </form>
		</div><!--end:breadcrumbs-->
        <div id="page_container">
        	<div id="container">
                <article>
                	<div class="categ">
                    	<div class="meta"><strong>3</strong><small>March <br>2022</small></div>
                        <ul>
                            <li>评论: <a href="#">0 条评论</a></li>
                            <li>用户: <a href="#">@热心小王</a></li>
                        </ul>
                    </div>
                    <div class="postblog">
                    	<a href="#" class="image-blog"><img src="/static/imgs/blog/blog-1.jpg" alt="" /></a>
                    	<h3><a href="#">日记3</a></h3>
                        <p>今天是个好日子!</p>
                        <span><a href="#">点赞</a></span>
                        <span class="right-bot"><a href="#">回复</a></span>
                    </div>
                </article>
            	<article>
                	<div class="categ">
                    	<div class="meta"><strong>2</strong><small>March <br>2022</small></div>
                        <ul>
                            <li><a href="#">3 条评论</a></li>
                            <li>用户: <a href="#">@热心小王</a></li>
                        </ul>
                    </div>
                    <div class="postblog">
                    	<a href="#" class="image-blog"><img src="/static/imgs/blog/blog-1.jpg" alt="" /></a>
                    	<h3><a href="#">日记2</a></h3>
                        <p>今天是个好日子!</p>
                        <span><a href="#">点赞</a></span>
                        <span class="right-bot"><a href="#">回复</a></span>
                    </div>
                </article>
                <article>
                	<div class="categ">
                    	<div class="meta"><strong>1</strong><small>March <br>2022</small></div>
                        <ul>
                            <li><a href="#">2 Comments</a></li>
                            <li>用户: <a href="#">@heyi01</a></li>
                        </ul>
                    </div>
                    <div class="postblog">
                    	<a href="#" class="image-blog"><img src="/static/imgs/blog/blog-2.jpg" alt="" /></a>
                    	<h3><a href="#">日记</a></h3>
                        <p>今天是个好日子!</p>
                        <span><a href="#">点赞</a></span>
                        <span class="right-bot"><a href="#">回复</a></span>
                    </div>
                </article>
                <button class="btn btn-primary" style="float: right;" >查看更多</button>
            </div><!--end:container-->
            <aside>
                <div class="whole">
                	<h3>最近的动态</h3>
                    <ul class="post">
                    	<li>
                        	<a href="#"><img src="/static/imgs/blog/thumb-blog-1.jpg" alt="" /></a>
                            <p><a href="#">Sample Post One</a> <br><small>May 30, 2022 3 Comments</small></p>
                        </li>
                        <li>
                        	<a href="#"><img src="/static/imgs/blog/thumb-blog-2.jpg" alt="" /></a>
                            <p><a href="#">Sample Post Two</a> <br><small>May 30, 2022 3 Comments</small></p>
                        </li>
                        <li>
                        	<a href="#"><img src="/static/imgs/blog/thumb-blog-3.jpg" alt="" /></a>
                            <p><a href="#">Sample Post Three</a> <br><small>May 3, 2022 3 Comments</small></p>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>    
</body>
</html>