
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>朋友圈</title>
<link rel="icon" href="/static/imgs/title.png" type="image/x-icon"> 
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <script type="text/javascript">
        function delete_confirm(url)
        {
        var r=confirm("您确定要删除吗?")
          if(r){window.location.href=url
          }
        }
        function send_comments_id(id1) {
        $( '#friendinfo_id').val(id1);
        }
    </script>
    <div style="margin-top: 20px;" class="container">
        <div  class="row clearfix">
            <div  class="col-md-12 column">
                <ul  class="nav nav-pills">
                    <li class="">
                         <a href="/home">首页</a>
                    </li>
                    <li class="">
                         <a href="/my_plant">我的盆摘</a>
                    </li>
                    <li class="active">
                         <a href="/my_friends">朋友圈</a>
                    </li>
                    <li class="">
                        <a href="/register">用户注册</a>
                    </li>
                    <li class="">
                        <a href="/update_password">修改密码</a>
                    </li>
                    <li class="">
                        <a href="/management">后台管理</a>
                    </li>
                    <li style="float: right;" class="">
                        <div>
                            <a id="modal-207276" href="#modal-container-207276" style="margin-right: 15px;font-size: medium;" data-toggle="modal"" >当前用户: {% if dic1['current_user'] %}{{ dic1['current_user'] }}{% endif %}</a>
                            <a class="btn btn-default" href="/logout">退出</a>
                        </div>
                    </li>
                </ul>
                <div class="page-header">
                    <h1>
                        智能浇水平台<small><span>分享生活,分享快乐!</span></small>
                    </h1>
                </div>
                <!--消息提醒-->
                <div style="margin-top: 20px;" class="container">
                    <div class="row clearfix">
                        <div style="padding-left:0" class="col-md-12 column">
                            <div style="margin-right: 15px;" class="{{ dic1['style'] }}">
                                <h4>
                                    {{ dic1['title'] }}
                                    {% for message in get_flashed_messages() %}
                                        <div style="color: red;" class="alert">{{ message }}</div>
                                    {% endfor %}
                                </h4> <strong>{{ dic1['title'] }}</strong>{{ dic1['message'] }}
                            </div>
                        </div>
                    </div>
                </div> 
                <!--用户个人信息的模态框-->
                <div class="modal fade" id="modal-container-207276" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                <h4 class="modal-title" id="myModalLabel">
                                    用户个人信息
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            用户名: {{ dic1['current_user'] }}
                                        </h3>
                                    </div>
                                    <div class="panel-body">
                                        姓名: {{ dic1['chinese_name'] }}
                                    </div>
                                    <div class="panel-footer">
                                        性别: {{ dic1['sex'] }}
                                    </div>
                                    <div class="panel-body">
                                        生日: {{ dic1['birthday'] }}
                                    </div>
                                    <div class="panel-footer">
                                        权限: {{ dic1['permission'] }}
                                    </div>
                                    <div class="panel-body">
                                        邮箱: {{ dic1['email'] }}
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div> 
                <div  class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <div>
                                朋友动态<a  id="modal-207280" href="#modal-container-207280" style="float: right;font-size: larger;" data-toggle="modal" >发动态</a>
                            </div>
                        </h3>
                    </div>
                </div>
                <!-- 发动态页面模态框 -->
                <div class="modal fade" id="modal-container-207280" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                <h4 class="modal-title" id="myModalLabel">
                                    发个动态
                                </h4>
                            </div>
                            <div class="modal-body">
                                <form role="form" action="/my_friends/send_message" method="post" enctype = "multipart/form-data">
                                    {{ form.csrf_token }}
                                    <div class="form-group">
                                        <label for="message_title">标题</label><input type="text" class="form-control" name="message_title" />
                                    </div>
                                    <div class="form-group">
                                        <label for="message_content">内容</label>
                                        <textarea class="form-control" rows="3" name="message_content"></textarea>
                                    </div>
                                    <div style="margin-top: 15px;" class="form-group">
                                        <label for="picture">请上传图片</label><input type="file" name="picture" accept="image/gif, image/jpeg, image/png, image/jpg" />       
                                    </div>
                                    <button type="submit" class="btn btn-default btn-primary">提交</button>
                                </form>
                            </div>
                        </div> 
                    </div>
                </div> 
                <!-- end -->
                <div class="container">
                    <!-- 添加一个计次循环 -->
                    {% for item in list1 %}
                        <div class="row clearfix">
                            <div class="col-md-2 column">
                                <div style="margin-top: 20px;" >           
                                    <div class="page-header">
                                        <h1>
                                            {% if item %}{{ item['week'] }}{% endif %}<br><small>{% if item %}{{ item['date'] }}{% endif %}</small>
                                        </h1>
                                    </div>
                                    <ul>
                                        <li><p> 用户: @{% if item %}{{ item['send_user'] }}{% endif %}</p></li>
                                        <li>评论: <a id="modal-207291" href="#modal-container-207291" data-toggle="modal" >{% if item %}{{ item['comments_number'] }}{% endif %} 条评论</a></li>
                                        <li>点赞: <a href="#">{% if item %}{{ item['like_number'] }}{% endif %} 个赞</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 column">
                                <div style="margin-top: 20px;" class="postblog">
                                    <a href="#" class="image-blog"><img src="{% if item %}{{ item['picture_path_html'] }}{% endif %}" alt="" height="300px" width="550px" /></a>
                                    <h3><a href="#">{% if item %}{{ item['message_title'] }}{% endif %}</a></h3>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if item %} {{ item['message_content'] }}{% endif %}</p>
                                    <span><a href="/my_friends/send_message/add_likes?friendinfo_id={{ item['id'] }}">点赞</a></span>
                                    <span class="right-bot"><a id="modal-207290" onclick="send_comments_id('{{ item.id }}')" href="#modal-container-207290" data-toggle="modal" >评论</a></span>
                                    <button style="float: right;font-size:smaller;"  class="btn btn-primary" onclick="delete_confirm('/my_friends/delete_message?cur_url=/my_friends&id={% if item %}{{ item.id }}{% endif %}')"  >删除</button>
                                </div>
                            </div>
                            <div class="col-md-4 column">
                                <div style="margin-left: 60px;" class="whole">
                                    <h3>
                                        评论列表
                                    </h3>
                                    <table class="table table-striped">
                                        <tbody>
                                            {% for comment in item['comments_list'] %}
                                                <tr class="{{ comment['style'] }}">
                                                    <td>
                                                        @{{ comment['commenting_user'] }}: {{ comment['commenting_message'] }} <a style="float: right;" href="#">删除</a>
                                                    </td>
                                                </tr>
                                            {% endfor %} 
                                        </tbody>
                                    </table> 
                                    <div>
                                        {% if item['comments_list'] %}
                                            <button style="float:right" type="button" class="btn btn-default">查看更多</button> 
                                        {% endif %}
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    {% endfor %}
                    <div class="row clearfix">
                        <div class="col-md-2 column">
                        </div>
                        <div class="col-md-6 column">
                            <div>
                                <a role="button" style="font-size: small;margin-top: 50px;" class="btn btn-default" href="/my_friends/nextpage?page=1" >返回第一页</a>
                                <a role="button" style="font-size: small;margin-top: 50px;float: right;" class="btn btn-default" href="/my_friends/nextpage?page={{ dic1['page_number'] + 1 }}" >查看更多</a>
                            </div>
                        </div>
                        <div class="col-md-4 column">
                        </div>
                    </div>
                   
                    <div class="col-md-4 column">
                    </div>
                </div>
                <!-- 添加评论模态框 -->
                <div class="modal fade" id="modal-container-207290" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                <h4 class="modal-title" id="myModalLabel">
                                    写个评论
                                </h4>
                            </div>
                            <div class="modal-body">
                                <form role="form" action="/my_friends/send_message/add_comments" method="post" >
                                    {{ form.csrf_token }}
                                    <div class="form-group">
                                        <label for="friendinfo_id">ID</label><input type="text" class="form-control" name="friendinfo_id" id="friendinfo_id"  readonly="readonly" />
                                    </div>
                                    <div class="form-group">
                                        <label for="commenting_message">内容</label>
                                        <textarea class="form-control" rows="3" name="commenting_message"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-default btn-primary">提交</button>
                                </form>
                            </div>
                        </div> 
                    </div>
                </div>  
                <div style="margin-top: 20px;" class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            联系方式
                        </h3>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <p>
                            <div>
                                Github项目地址:<a href="https://github.com/xiaowang012/GardenPlatform.git">点击进入</a>
                                邮箱: 1300202481@qq.com
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div> 
    </div>  
</body>
</html>