<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>后台管理</title>
    <link rel="icon" href="/static/imgs/title.png" type="image/x-icon"> 
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <script>
        function parameter(id1,plant_name1,plant_type1,suggest_watering_time1,device_name1,switch_number1) {
        $( '#updateDeptId').val(id1);
        $( '#updateDeptname').val(plant_name1);
        $( '#updateDepttype').val(plant_type1);
        $( '#updateDeptwater').val(suggest_watering_time1);
        $( '#updateDeptdevice').val(device_name1);
        $( '#updateDeptnumber').val(switch_number1);
        }
        function delete_confirm(url)
        {
        var r=confirm("您确定要删除吗?")
          if(r){window.location.href=url
          }
        }
    </script>
    <div style="margin-top: 20px;" class="container">
        <div  class="row clearfix">
            <div  class="col-md-12 column">
                <ul  class="nav nav-pills">
                    <li class="">
                         <a href="/home">首页</a>
                    </li>
                    <li class="">
                         <a href="/my_plant">我的盆摘</a>
                    </li>
                    <li class="">
                         <a href="/my_friends">朋友圈</a>
                    </li>
                    <li class="">
                        <a href="/register">用户注册</a>
                    </li>
                    
                    <li class="">
                        <a href="/update_password">修改密码</a>
                    </li>
                    <li class="active">
                        <a href="/management/permissionTable">后台管理</a>
                    </li>
                    <li style="float: right;" class="">
                        <div>
                            <a id="modal-207276" href="#modal-container-207276" style="margin-right: 15px;font-size: medium;" data-toggle="modal"" >当前用户: {% if dic1['current_user'] %}{{ dic1['current_user'] }}{% endif %}</a>
                            <a class="btn btn-default" href="/logout">退出</a>
                        </div>
                    </li>
                </ul>
                <div class="page-header">
                    <h1>
                        智能浇水平台<small><span>分享生活,分享快乐!</span></small>
                    </h1>
                </div>
                <!--用户个人信息的模态框-->
                <div class="modal fade" id="modal-container-207276" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                <h4 class="modal-title" id="myModalLabel">
                                    用户个人信息
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            用户名: {{ dic1['current_user'] }}
                                        </h3>
                                    </div>
                                    <div class="panel-body">
                                        姓名: {{ dic1['chinese_name'] }}
                                    </div>
                                    <div class="panel-footer">
                                        性别: {{ dic1['sex'] }}
                                    </div>
                                    <div class="panel-body">
                                        生日: {{ dic1['birthday'] }}
                                    </div>
                                    <div class="panel-footer">
                                        权限: {{ dic1['permission'] }}
                                    </div>
                                    <div class="panel-body">
                                        邮箱: {{ dic1['email'] }}
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div> 
                <!-- <div style="margin-top: 20px;" class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <div>
                                权限表<a href="/management/refresh?cur_url=/management" style="float: right;font-size: larger;"> 刷新权限</a>
                            </div>
                        </h3>
                    </div>
                </div> -->
                <div  class="container">
                    <div class="row clearfix">
                        <div style="padding-left:0" class="col-md-12 column">
                            <ul style="text-align: left;font-size: large;" class="breadcrumb">
                                <li>
                                     <a href="/management/permissionTable">权限表</a>
                                </li>
                                <li> 
                                     <a href="/management/userTable">用户表</a>
                                </li>
                                <li>
                                    <a href="/management/userGroupTable">用户组表</a>
                                </li>
                                <li>
                                    <a href="/management/devicesTable">设备表</a>
                                </li>
                                <li>
                                    <a href="/management/friendInfoTable">朋友圈动态表</a>
                                </li>
                                <li>
                                    <a href="/management/friendCommentsTable">朋友圈动态评论表</a>
                                </li>
                                <li>
                                    <a href="/management/friendLikesTable">朋友圈点赞信息表</a>
                                </li>
                            </ul>
                            <h3 class="text-center">
                                设备表
                            </h3>
                            <!--消息提醒-->
                            <div style="margin-top: 20px;" class="container">
                                <div class="row clearfix">
                                    <div style="padding-left:0" class="col-md-12 column">
                                        <div style="margin-right: 15px;" class="{{ dic1['style'] }}">
                                            <h4>
                                                {{ dic1['title'] }}
                                                {% for message in get_flashed_messages() %}
                                                    <div style="color: red;" class="alert">{{ message }}</div>
                                                {% endfor %}
                                            </h4> <strong>{{ dic1['title'] }}</strong>{{ dic1['message'] }}
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <table style="margin-top: 20px;" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            设备ID
                                        </th>
                                        <th>
                                            用户名
                                        </th>
                                        <th>
                                            植物名称
                                        </th>
                                        <th>
                                            植物类别
                                        </th>
                                        <th>
                                            在线状态
                                        </th>
                                        <th>
                                            上次浇水时间
                                        </th>
                                        <th>
                                            建议浇水周期
                                        </th>
                                        <th>
                                            绑定设备
                                        </th>
                                        <th>
                                            开关编号
                                        </th>
                                        <th>
                                            添加时间
                                        </th>
                                        <th>
                                            <a role="button" id="modal-207299" href="#modal-container-207299" style="font-size: smaller;" class="btn btn-primary" data-toggle="modal" >添加</a><a role="button" id="modal-207300" href="#modal-container-207300" class="btn btn-default" style="font-size: smaller;margin-left: 17px;" data-toggle="modal" >导入</a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in list1 %}
                                        <tr class="{{ item['style'] }}">
                                            <td>
                                                {{ item['id'] }}
                                            </td>
                                            <td>
                                                {{ item['user_name'] }}
                                            </td>
                                            <td>
                                                {{ item['plant_name'] }}
                                            </td>
                                            <td>
                                                {{ item['plant_type'] }} 
                                            </td>
                                            <td>
                                                {{ item['status'] }}
                                            </td>
                                            <td>
                                                {{ item['last_watering_time'] }}
                                            </td>
                                            <td>
                                                {{ item['suggest_watering_time'] }}
                                            </td>
                                            <td>
                                                {{ item['device_name'] }}
                                            </td>
                                            <td>
                                                {{ item['switch_number'] }}
                                            </td>
                                            <td>
                                                {{ item['add_time'] }}
                                            </td>
                                            <td>
                                                {% set id1=item['id'] %}
                                                {% set name1=item['plant_name'] %}
                                                {% set water1=item['suggest_watering_time'] %}
                                                {% set device1=item['device_name'] %}
                                                {% set switch1=item['switch_number'] %}
                                                {% set type1=item['plant_type'] %}
                                                <!--根据渲染的花名计判断value写入模态框。-->
                                                {% if type1=='请选择类别' %}{% set type2='None' %}{% endif %}
                                                {% if type1=='月季花' %}{% set type2='1' %}{% endif %}
                                                {% if type1=='玫瑰花' %}{% set type2='2' %}{% endif %}
                                                {% if type1=='栀子花' %}{% set type2='3' %}{% endif %}
                                                {% if type1=='太阳花' %}{% set type2='4' %}{% endif %}
                                                {% if type1=='牡丹花' %}{% set type2='5' %}{% endif %}
                                                {% if type1=='杜鹃花' %}{% set type2='6' %}{% endif %}
                                                {% if type1=='其他' %}{% set type2='7' %}{% endif %}
                                                <a id="modal-207301" onclick="parameter('{{ id1 }}','{{ name1 }}','{{ type1 }}','{{ water1 }}','{{ device1 }}','{{ switch1 }}')" href="#modal-container-207301" role="button" style="font-size: x-small;" class="btn btn-default" data-toggle="modal">修改</a><button class="btn btn-default btn-primary" style="margin-left: 15px;font-size: x-small;" onclick="delete_confirm('/management/devicesTable/delete?id={{ item.id }}')">删除</button>
                                            </td>
                                        </tr>  
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                            <!--添加设备的模态框-->
                            <div class="modal fade" id="modal-container-207299" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                            <h4 class="modal-title" id="myModalLabel">
                                                添加设备界面
                                            </h4>
                                        </div>
                                        <div class="modal-body">
                                            <form role="form" action="/management/devicesTable/add" method="post" enctype = "multipart/form-data">
                                                {{ form.csrf_token }}
                                                <div class="form-group">
                                                    <label for="plant_name">植物名称</label><input type="text" class="form-control" name="plant_name" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="plant_type">植物类别</label>
                                                    <select name="plant_type" class="form-control">
                                                        <option value="None">请选择类别</option>
                                                        <option value="1">月季花</option>
                                                        <option value="2">玫瑰花</option>
                                                        <option value="3">栀子花</option>
                                                        <option value="4">太阳花</option>
                                                        <option value="5">牡丹花</option>
                                                        <option value="6">杜鹃花</option>
                                                        <option value="7">其他</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="suggest_watering_time">浇水周期</label><input type="text" class="form-control" name="suggest_watering_time" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="device_name">绑定设备</label><input type="text" class="form-control" name="device_name" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="switch_number">开关编号</label>
                                                    <select name="switch_number" class="form-control">
                                                        <option value="None">请选择编号</option>
                                                        <option value="1">1号开关</option>
                                                        <option value="2">2号开关</option>
                                                        <option value="3">3号开关</option>
                                                        <option value="4">4号开关</option>
                                                        <option value="5">5号开关</option>
                                                        <option value="6">6号开关</option>
                                                        <option value="7">7号开关</option>
                                                        <option value="8">8号开关</option>
                                                        <option value="9">9号开关</option>
                                                        <option value="10">10号开关</option>
                                                        <option value="11">11号开关</option>
                                                        <option value="12">12号开关</option>
                                                        <option value="13">13号开关</option>
                                                        <option value="14">14号开关</option>
                                                        <option value="15">15号开关</option>
                                                        <option value="16">16号开关</option>
                                                    </select>
                                                </div>
                                                <button type="submit" class="btn btn-default btn-primary">提交</button>
                                            </form>
                                        </div>
                                    </div> 
                                </div>
                            </div> 
                            <!--批量导入设备的模态框-->
                            <div class="modal fade" id="modal-container-207300" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                            <h4 class="modal-title" id="myModalLabel">
                                                导入设备
                                            </h4>
                                        </div>
                                        <div class="modal-body">
                                            <form role="form" action="/management/devicesTable/import" method="post" enctype = "multipart/form-data">
                                                {{ form.csrf_token }}
                                                <div style="margin-top: 15px;" class="form-group">
                                                        <label for="file_devices">请上传EXCEL文件</label><input type="file" name="file_devices" />
                                                    <p style="margin-top: 10px;" class="help-block">
                                                        模板下载链接如下:
                                                        <a href="/management/devicesTable/import/DownloadTemplateFile">点击下载</a>
                                                    </p>
                                                </div>
                                                <button type="submit" class="btn btn-default btn-primary">导入</button>
                                            </form>
                                        </div>
                                    </div> 
                                </div>
                            </div> 
                            <!--修改设备信息模态框。-->
                            <div class="modal fade" id="modal-container-207301" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                            <h4 class="modal-title" id="myModalLabel">
                                                修改设备信息界面
                                            </h4>
                                        </div>
                                        <div class="modal-body">
                                            <form role="form" action="/management/devicesTable/update" method="post" >
                                                {{ form.csrf_token }}
                                                <div class="form-group">
                                                    <label for="id1">ID</label><input type="text" class="form-control" name="id1" id="updateDeptId"  readonly="readonly" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="plant_name1">植物名称</label><input type="text" class="form-control" id="updateDeptname" name="plant_name1" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="plant_type1">植物类别</label>
                                                    <select id="updateDepttype" name="plant_type1" class="form-control">
                                                        <option value="None">请选择类别</option>
                                                        <option value="1">月季花</option>
                                                        <option value="2">玫瑰花</option>
                                                        <option value="3">栀子花</option>
                                                        <option value="4">太阳花</option>
                                                        <option value="5">牡丹花</option>
                                                        <option value="6">杜鹃花</option>
                                                        <option value="7">其他</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="suggest_watering_time1">浇水周期</label><input type="text" class="form-control" id="updateDeptwater" name="suggest_watering_time1" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="device_name1">绑定设备</label><input type="text" class="form-control" id="updateDeptdevice" name="device_name1" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="switch_number1">开关编号</label>
                                                    <select id="updateDeptnumber" name="switch_number1" class="form-control">
                                                        <option value="None">请选择编号</option>
                                                        <option value="1">1号开关</option>
                                                        <option value="2">2号开关</option>
                                                        <option value="3">3号开关</option>
                                                        <option value="4">4号开关</option>
                                                        <option value="5">5号开关</option>
                                                        <option value="6">6号开关</option>
                                                        <option value="7">7号开关</option>
                                                        <option value="8">8号开关</option>
                                                        <option value="9">9号开关</option>
                                                        <option value="10">10号开关</option>
                                                        <option value="11">11号开关</option>
                                                        <option value="12">12号开关</option>
                                                        <option value="13">13号开关</option>
                                                        <option value="14">14号开关</option>
                                                        <option value="15">15号开关</option>
                                                        <option value="16">16号开关</option>
                                                    </select>
                                                </div>
                                                <button type="submit" class="btn btn-default btn-primary">提交</button>
                                            </form>
                                        </div>
                                    </div> 
                                </div>
                            </div>  
                            <ul style="float: right;" class="pagination">
                                <li class="{{ dic1['active_Prev'] }}">
                                    {% if dic1['page_number'] <=2  %}
                                        <a href="/management/devicesTable/page?page_number=1">Prev</a>
                                    {% else %}
                                        <a href="/management/devicesTable/page?page_number={{ dic1['page_number']-1 }}">Prev</a>
                                    {% endif %}
                                   </li>
                                <li class="{{ dic1['active1'] }}">
                                     <a href="/management/devicesTable/page?page_number=1">1</a>
                                </li>
                                <li class="{{ dic1['active2'] }}">
                                     <a href="/management/devicesTable/page?page_number=2">2</a>
                                </li>
                                <li class="{{ dic1['active3'] }}">
                                     <a href="/management/devicesTable/page?page_number=3">3</a>
                                </li>
                                <li class="{{ dic1['active4'] }}">
                                     <a href="/management/devicesTable/page?page_number=4">4</a>
                                </li>
                                <li class="{{ dic1['active5'] }}">
                                     <a href="/management/devicesTable/page?page_number=5">5</a>
                                </li>
                                <li class="{{ dic1['active_next'] }}">
                                     <a href="/management/devicesTable/page?page_number={{ dic1['page_number']+1 }}">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div style="margin-top: 20px;" class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            联系方式
                        </h3>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <p>
                            <div>
                                Github项目地址:<a href="https://github.com/xiaowang012/GardenPlatform.git">点击进入</a>
                                邮箱: 1300202481@qq.com
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

