<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>浇花平台</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <ul class="nav nav-pills">
                    <li class="active">
                         <a href="#">首页</a>
                    </li>
                    <li>
                         <a href="#">我的</a>
                    </li>
                    <li class="">
                         <a href="#">朋友圈</a>
                    </li>
                    <li class="">
                        <a href="#">后台管理</a>
                    </li>
                    <li class="">
                        <a href="#">退出</a>
                    </li>
                </ul>
                <div class="page-header">
                    <h1>
                        智能浇水平台<small> 为分享美好而生!</small>
                    </h1>
                </div>
                <div class="carousel slide" id="carousel-111260">
                    <ol class="carousel-indicators">
                        <li data-slide-to="0" data-target="#carousel-111260">
                        </li>
                        <li data-slide-to="1" data-target="#carousel-111260" class="active">
                        </li>
                        <li data-slide-to="2" data-target="#carousel-111260">
                        </li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item">
                            <img alt="300x200" src="../static/imgs/flowers1.jpg" />
                            <div class="carousel-caption">
                                <h4>
                                    新的一天,加油!特种兵!
                                </h4>
                            </div>
                        </div>
                        <div class="item active">
                            <img alt="300x200" src="../static/imgs/flowers4.jpg" />
                            <div class="carousel-caption">
                                <h4>
                                    每天都要开心鸭!
                                </h4>
                            </div>
                        </div>
                        <div class="item">
                            <img alt="300x200" src="../static/imgs/flowers3.jpg" />
                            <div class="carousel-caption">
                                <h4>
                                    上班快乐!
                                </h4>
                            </div>
                        </div>
                    </div> <a class="left carousel-control" href="#carousel-111260" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-111260" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
            <div class="col-md-12 column">
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 column">
            </div>
            <div style="margin-top: 20px;" class="col-md-12 column">
                 <span style="margin-block: 20px;font-size: larger;" class="label label-success">朋友的动态</span><a role="button" class="btn btn-primary" style="float: right;font-size: 5px;" href="/" >下一个</a>
                <p>
                    <br>
                    <br>
                    用户ID: dic1['id'] : dic1['text']
                </p>
                <div class="thumbnail">
                    <img alt="300x200" src="../static/imgs/flowers1.jpg" />
                </div>
                <div class="contain">
                    <p style="color: blue;">联系我们:1300202481@qq.com<br>github项目地址: <a href="https://github.com/xiaowang012">点击进入</a></p>
                </div>
            </div>
            <div class="col-md-12 column">
            </div>
        </div>
    </div>
</body>
</html>
