<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>后台管理</title>
    <link rel="icon" href="/static/imgs/title.png" type="image/x-icon"> 
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div style="margin-top: 20px;" class="container">
        <div  class="row clearfix">
            <div  class="col-md-12 column">
                <ul  class="nav nav-pills">
                    <li class="">
                         <a href="/home">首页</a>
                    </li>
                    <li class="">
                         <a href="/my_plant">我的盆摘</a>
                    </li>
                    <li class="">
                         <a href="/my_friends">朋友圈</a>
                    </li>
                    <li class="">
                        <a href="/register">用户注册</a>
                    </li>
                    
                    <li class="">
                        <a href="/update_password">修改密码</a>
                    </li>
                    <li class="active">
                        <a href="/management/permissionTable">后台管理</a>
                    </li>
                    <li style="float: right;" class="">
                        <div>
                            <a id="modal-207276" href="#modal-container-207276" style="margin-right: 15px;font-size: medium;" data-toggle="modal"" >当前用户: {% if dic1['current_user'] %}{{ dic1['current_user'] }}{% endif %}</a>
                            <a class="btn btn-default" href="/logout">退出</a>
                        </div>
                    </li>
                </ul>
                <div class="page-header">
                    <h1>
                        智能浇水平台<small><span>分享生活,分享快乐!</span></small>
                    </h1>
                </div>
                <!--用户个人信息的模态框-->
                <div class="modal fade" id="modal-container-207276" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                <h4 class="modal-title" id="myModalLabel">
                                    用户个人信息
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            用户名: {{ dic1['current_user'] }}
                                        </h3>
                                    </div>
                                    <div class="panel-body">
                                        姓名: {{ dic1['chinese_name'] }}
                                    </div>
                                    <div class="panel-footer">
                                        性别: {{ dic1['sex'] }}
                                    </div>
                                    <div class="panel-body">
                                        生日: {{ dic1['birthday'] }}
                                    </div>
                                    <div class="panel-footer">
                                        权限: {{ dic1['permission'] }}
                                    </div>
                                    <div class="panel-body">
                                        邮箱: {{ dic1['email'] }}
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div> 
                <!-- <div style="margin-top: 20px;" class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <div>
                                权限表<a href="/management/refresh?cur_url=/management" style="float: right;font-size: larger;"> 刷新权限</a>
                            </div>
                        </h3>
                    </div>
                </div> -->
                <div  class="container">
                    <div class="row clearfix">
                        <div style="padding-left:0" class="col-md-12 column">
                            <ul style="text-align: left;font-size: large;" class="breadcrumb">
                                <li>
                                     <a href="/management/permissionTable">权限表</a>
                                </li>
                                <li> 
                                     <a href="/management/userTable">用户表</a>
                                </li>
                                <li>
                                    <a href="/management/userGroupTable">用户组表</a>
                                </li>
                                <li>
                                    <a href="/management/devicesTable">设备表</a>
                                </li>
                                <li>
                                    <a href="/management/friendInfoTable">朋友圈动态表</a>
                                </li>
                                <li>
                                    <a href="/management/friendCommentsTable">朋友圈动态评论表</a>
                                </li>
                                <li>
                                    <a href="/management/friendLikesTable">朋友圈点赞信息表</a>
                                </li>
                            </ul>
                            <h3 class="text-center">
                                权限表<a href="/management/refresh?cur_url=/management" style="float: right;font-size: medium;"> 刷新权限</a>
                            </h3>
                            <table style="margin-top: 20px;" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            id
                                        </th>
                                        <th>
                                            name
                                        </th>
                                        <th>
                                            url
                                        </th>
                                        <th>
                                            description
                                        </th>
                                        <th>
                                            <a role="button" style="font-size: smaller;" class="btn btn-default" href="#" >添加</a><a role="button" class="btn btn-default" style="float: right;font-size: smaller;" href="#" >导入</a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in list1 %}
                                        <tr class="{{ item['style'] }}">
                                            <td>
                                                {{ item['id'] }}
                                            </td>
                                            <td>
                                                {{ item['name'] }}
                                            </td>
                                            <td>
                                                {{ item['url'] }}
                                            </td>
                                            <td>
                                                {{ item['description'] }} 
                                            </td>
                                            <td>
                                                {% set id=item['id'] %}
                                                <a id="modal-207275" onclick="parameter_id('{{ id }}')" href="#modal-container-207275" role="button" style="font-size: x-small;" class="btn btn-default" data-toggle="modal">修改</a><a role="button" class="btn btn-default btn-primary" style="margin-left: 15px;font-size: x-small;" href="/management/system/permission/delete?id={{ item['id'] }}">删除</a>
                                            </td>
                                        </tr>  
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                            <ul style="float: right;" class="pagination">
                                <li class="{{ dic1['active_Prev'] }}">
                                    {% if dic1['page_number'] <=2  %}
                                        <a href="/management/permissionTable/page?page_number=1">Prev</a>
                                    {% else %}
                                        <a href="/management/permissionTable/page?page_number={{ dic1['page_number']-1 }}">Prev</a>
                                    {% endif %}
                                   </li>
                                <li class="{{ dic1['active1'] }}">
                                     <a href="/management/permissionTable/page?page_number=1">1</a>
                                </li>
                                <li class="{{ dic1['active2'] }}">
                                     <a href="/management/permissionTable/page?page_number=2">2</a>
                                </li>
                                <li class="{{ dic1['active3'] }}">
                                     <a href="/management/permissionTable/page?page_number=3">3</a>
                                </li>
                                <li class="{{ dic1['active4'] }}">
                                     <a href="/management/permissionTable/page?page_number=4">4</a>
                                </li>
                                <li class="{{ dic1['active5'] }}">
                                     <a href="/management/permissionTable/page?page_number=5">5</a>
                                </li>
                                <li class="{{ dic1['active_next'] }}">
                                     <a href="/management/permissionTable/page?page_number={{ dic1['page_number']+1 }}">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div style="margin-top: 20px;" class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            联系方式
                        </h3>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <p>
                            <div>
                                Github项目地址:<a href="https://github.com/xiaowang012/GardenPlatform.git">点击进入</a>
                                邮箱: 1300202481@qq.com
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

