<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>我的盆摘</title>
    <link rel="icon" href="/static/imgs/title.png" type="image/x-icon"> 
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div style="margin-top: 20px;" class="container">
        <div  class="row clearfix">
            <div  class="col-md-12 column">
                <ul  class="nav nav-pills">
                    <li class="">
                         <a href="/home">首页</a>
                    </li>
                    <li class="active">
                         <a href="/my_plant">我的盆摘</a>
                    </li>
                    <li class="">
                         <a href="my_friends">朋友圈</a>
                    </li>
                    <li class="">
                        <a href="/management">后台管理</a>
                    </li>
                    <li class="">
                        <a href="/logout">退出</a>
                    </li>
                </ul>
                <div class="page-header">
                    <h1>
                        智能浇水平台<small><span>分享生活,分享快乐!</span></small>
                    </h1>
                </div>
                <div class="carousel slide" id="carousel-88070">
                    <ol class="carousel-indicators">
                        <li data-slide-to="0" data-target="#carousel-88070">
                        </li>
                        <li data-slide-to="1" data-target="#carousel-88070">
                        </li>
                        <li data-slide-to="2" data-target="#carousel-88070" class="active">
                        </li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item">
                            <img alt="" src="../static/imgs/default.jpg" />
                            <div class="carousel-caption">
                                <p>
                                    这是一款智能浇花神器
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <img alt="" src="../static/imgs/default2.jpg" />
                            <div class="carousel-caption">
                                <p>
                                    这是一款智能浇花神器
                                </p>
                            </div>
                        </div>
                        <div class="item active">
                            <img alt="" src="../static/imgs/default1.jpg" />
                            <div class="carousel-caption">
                                <p>
                                    这是一款智能浇花神器
                                </p>
                            </div>
                        </div>
                    </div> <a class="left carousel-control" href="#carousel-88070" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-88070" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
                <div style="margin-top: 20px;" class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <div>
                                我的盆摘设备<a style="float: right;font-size: larger;" href="#"  > 添加设备</a><a style="float: right;font-size: larger;margin-right: 8px;" href="#"  > 批量导入</a>
                            </div>
                        </h3>
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                设备ID
                            </th>
                            <th>
                                植物名称
                            </th>
                            <th>
                                植物类别
                            </th>
                            <th>
                                在线状态
                            </th>
                            <th>
                                上次浇水时间
                            </th>
                            <th>
                                建议浇水周期
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>
                                月季1
                            </td>
                            <td>
                                月季
                            </td>
                            <td>
                                当前在线
                            </td>
                            <td>
                                2022/2/11 14:00
                            </td>
                            <td>
                                3天1次
                            </td>
                            <td>
                                <a href="#" > 浇水</a><a href="#" > 定时浇水</a> <a href="#" > 删除设备</a><a href="#" > 托管设备</a><a href="#" > 修改属性</a><a href="#" > 邮件提醒</a>
                            </td>
                        </tr>
                        <tr class="success">
                            <td>
                                2
                            </td>
                            <td>
                                太阳花2
                            </td>
                            <td>
                                太阳花
                            </td>
                            <td>
                                离线
                            </td>
                            <td>
                                2022/2/11 14:00
                            </td>
                            <td>
                                7天1次
                            </td>
                            <td>
                                <a href="#" > 浇水</a><a href="#" > 定时浇水</a> <a href="#" > 删除设备</a><a href="#" > 托管设备</a><a href="#" > 修改属性</a><a href="#" > 邮件提醒</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div style="margin-top: 20px;" class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            联系方式
                        </h3>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <p>
                            <div>
                                Github项目地址:<a href="https://github.com/xiaowang012/GardenPlatform.git">点击进入</a>
                                邮箱: 1300202481@qq.com
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

